<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<p>
</p>
<p>
</p>
<div class="container col-sm-12 text-center">
  <button type="button" class="btn btn-primary btn-lg">Topology</button>
  <button type="button" class="btn btn-success btn-lg">Infomation</button>
  <button type="button" class="btn btn-info   btn-lg disabled" >Reserve</button>
  <button type="button" class="btn btn-warning btn-lg disabled">Ad-hoc</button>
</div>

</body>
</html>
